/* font 는 임시 입니다. pretendard,NotoSansKR 사용 예정 */
/* font 추가하시고싶으면 말해주세요 */
@charset "utf-8";
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  /* 옵션 */
  outline-style: none;
  box-sizing: border-box;
  font-family: "Pretendard-Regular", "Noto Sans KR";
}
a {
  text-decoration: none;
  color: #000;
}
html {
  /* 가로 스크롤 없애기 */
  overflow-x: hidden;
}
body {
  font-family: "Pretendard-Regular", "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
}

/* 임시 버튼  */
.confirm-btn {
  background-color: #46db7a;
  padding: 0 10px;
  height: 30px;
  border: 1px solid #babfc5;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 1px 1px 1px #f4f2f2;
  color: #fff;
  cursor: pointer;
}
.confirm-btn:hover {
  background-color: #1ad059;
  box-shadow: 1px 1px 1px 1px inset gray;
  font-weight: bold;
}
.resister-btn {
  background-color: #2184fd;
  padding: 0 10px;
  height: 30px;
  border: 1px solid #babfc5;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 1px 1px 1px #f4f2f2;
  color: #fff;
  cursor: pointer;
}
.resister-btn:hover {
  background-color: #5394e6;
  box-shadow: 1px 1px 1px 1px inset gray;
  font-weight: bold;
}
.delete-btn {
  background-color: #dc4e4e;
  padding: 0 10px;
  height: 30px;
  border: 1px solid #babfc5;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 1px 1px 1px #f4f2f2;
  color: #fff;
  cursor: pointer;
}
.delete-btn:hover {
  background-color: #ec1919;
  box-shadow: 1px 1px 1px 1px inset gray;
  font-weight: bold;
}
.etc-btn {
  background-color: #fdfdfd;
  padding: 0 10px;
  color: #6e6e6e;
  height: 30px;
  font-weight: bold;
  border: 1px solid #babfc5;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 1px 1px 1px #f4f2f2;
  cursor: pointer;
}
.etc-btn:hover {
  background-color: #ebebeb;
  box-shadow: 1px 1px 1px 1px inset gray;
  font-weight: bold;
}
/* 임시 버튼  */
