/* .footer {
  background-color: #f9f8f5;
}

.footer-inner {
  width: calc(100% - 30px);
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 0px;
}
.footer-menu-list {
  display: flex;
  gap: 50px;
  margin-bottom: 40px;
}
.footer-description {
  margin-bottom: 10px;
} */
