.footer {
  background-color: rgba(250, 235, 215, 0.4);
}

.footer-inner {
  width: calc(100% - 30px);
  max-width: 1300px;
  /* height: auto; */
  margin: 0 auto;
  padding: 20px 0px;
}
.footer-menu-list {
  display: flex;
  gap: 50px;
  margin-bottom: 40px;
}
.footer-description {
  margin-bottom: 10px;
}
