.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 9;
  background-color: #fff;
}

.header-inner {
  width: calc(100% - 30px);
  max-width: 1300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logo-img {
  display: block;
  width: 100px;
  height: 50px;
}
.header-menu {
  width: 100%;
  height: 100%;
}
.header-menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 77px;
  width: 100%;
  height: 100%;
  margin-left: 200px;
}
.header-menu-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
}
.header:hover .header-submenu-div {
  visibility: visible;
}
@media (max-width: 1300px) {
  .header:hover .header-submenu-div {
    visibility: hidden;
  }
  .header-menu-list {
    display: none;
  }
}
.header-menu-list li a {
  display: block;
  padding: 10px;
  min-width: 50px;
}
.header-menu-list li a:hover {
  text-decoration: underline;
}
.header-submenu li a:hover {
  text-decoration: underline;
}
.header-submenu-user:hover {
  cursor: pointer;
  text-decoration: underline;
}
.header-menu-item {
  cursor: pointer;
  padding: 10px;
  min-width: 50px;
}
.header-menu-item:hover {
  text-decoration: underline;
}
.header-submenu-div {
  visibility: hidden;
  position: fixed;
  top: 70px;
  width: 100%;
  height: 275px;
  background-color: rgba(249, 248, 245, 0.9);
}
.header-submenu-div:active {
  visibility: hidden;
}
.header-submenu {
  width: calc(100% - 30px);
  display: flex;
  margin-top: 40px;
  justify-content: center;
  padding-left: 640px;
  gap: 12px;
}

.header-submenu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 120px;
  gap: 50px;
}
.header-icon-list {
  display: flex;
  align-items: center;
  margin-top: 7px;
}
.header-icon-list svg {
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.header-profileicon img {
  width: 33px;
  height: 33px;
  border: 2px solid #efede5;
  transition: border 0.5 ease; /* border 속성 변화를 0.5초 동안 부드럽게 처리 */
  border-radius: 50%;
  cursor: pointer;
}

.header-profileicon img:hover {
  border: 2px solid #d3cdb5;
}
.header-submenu-mobile {
  display: none;
}
@media (max-width: 1300px) {
  .header-submenu-mobile {
    display: block;
  }
}
.header-profileicon-notuser-name {
  display: block;
  font-size: 10px;
  width: 77px;
  height: 10px;
  letter-spacing: -0.6px;
}
.header-profileicon-div {
  display: flex;
  align-items: center;
}
.header-profileicon-name {
  display: block;
  font-size: 12px;
  width: 60px;
  margin-left: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-logout {
  margin-left: 73px;
}

/* -------------- */
.hover-effect {
  display: inline-block;
  position: relative;
}

.hover-effect::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  background: var(--highlight);
  transform-origin: bottom right;
  transition: transform 0.14s ease-out;
}

.hover-effect:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
